<!DOCTYPE html>
<html lang="pt" >
<head>
  <meta charset="UTF-8">
  <title>Sistema Cilco Escola de línguas</title>
  <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <!--link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'-->
	<style>
	.progress {
		min-height: 36px;
		overflow: hidden;
		position: relative;
		}
		
		.progress span {
			position: relative;
			float:left;
			color: #fff;
			padding: 8px;
			z-index: 99999;
			}
			.progress span i {
				width: inherit;
				font-size: inherit;
				position: relative;
				top: 2px;
				margin-left: 8px;
			}
			
       .progress .determinate {
			width: 0;
			
			transition: width 1s ease-in-out;
			padding: 8px;
			position: relative;
			color: #fff;
			text-align: right;
			white-space: nowrap;
		}
		@keyframes grow {
  from {
    width: 0;
  }
}
</style>
</head>
<body>