<%- include ("partials/header.ejs") %>
<div class="container">
<h1>Form Upload</h1>
<form method="post" enctype="multipart/form-data" action="/upload" id="formulario" >
	<!--input type="file" name="file"><input type="submit" value="upload"   button--name="action" -->

		<div class="file-field input-field row" >
			<div class="btn col s2">
				<span>File</span>
				<input type="file" name="file">
			</div>
			<div class="file-path-wrapper col s7">
				<input class="file-path validate" type="text">
			</div>
			<button class="btn waves-effect waves-light col s3" type="submit" value="upload" >Submit
				<i class="material-icons right">send</i>
			</button>
		</div>

		<div class="progress row">
			<div id="progressBar" class="determinate col s12" style="width: 0%"></div>
		</div>
		<div class="progress blue lighten-4 " data-position="top" data-tooltip="Progress was at 50% when tested">
			<span>Percentage<i class="material-icons">info_outline</i></span>
			<div id="progressBar2" class="determinate blue" style="width: 00%; animation: grow 2s;">00%</div>
		</div>
</form>
</div>
<script>

//this.addEventListener("click", function(event){
//  event.preventDefault()
//});

form = document.getElementById("formulario");
//cancelar o submit para execultar pela programação ajax


 progressBar = document.getElementById("progressBar");
 progressBar2 = document.getElementById("progressBar2");
 
form.onsubmit = function(){

alert("inicio");
    var formData = new FormData();
	const xhr = new XMLHttpRequest();

	xhr.open('post', '/upload') // path da rota no servidor
	
	xhr.onerror =() => {console.log('erro ao se conectar com o servidor')};
	
	 xhr.onload = event => {
      // o envio ocorreu com sucesso
	  console.log('---------------');
     // console.log(event);
	  console.log('---------------');
    }
	if (xhr.upload) {
      // caso tenhamos acesso a esta informação
      xhr.upload.onprogress = progress => {

	  let contagem = Math.round((progress.loaded * 100) / progress.total) + '%';
	  progressBar.style.width = contagem; // mostra contagem no frontEnd
	  progressBar2.style.width = contagem; // mostra contagem no frontEnd
	  progressBar2.innerHTML =contagem;
      }
    } else {
      // tratamento em navegadores que não suportam xhr.upload
    }
	
	
	xhr.send(formData) // iniciando a requisição, enviando o FormData
};
</script>

<%- include ("partials/footer.ejs") %>